<a href="https://colab.research.google.com/github/fbeilstein/machine_learning/blob/master/practice_3_pandas_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing pandas

Getting started and checking your pandas setup.


Difficulty: **easy**

##Problem 1.

 Import pandas under the name `pd`.

In [0]:
# Enter your code here

###Solution

In [0]:
import pandas as pd

##Problem 2.

 Print the version of pandas that has been imported.

In [0]:
import pandas as pd

# Enter your code here

###Solution

In [0]:
import pandas as pd

# Solution
pd.__version__

##Problem 3.

Print out all the version information of the libraries that are required by the pandas library.

In [0]:
import pandas as pd

# Enter your code here

###Solution

In [0]:
import pandas as pd

# Solution
pd.show_versions()

# DataFrame basics

A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames.

Difficulty: **easy**

##Problem 4.

Create a DataFrame from given Python dictionary data

**Possible Input:**
```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**Expected Output:**
```
	animal	age	visits	priority
a	cat	2.5	1	yes
b	cat	3.0	3	yes
c	snake	0.5	2	no
d	dog	NaN	3	yes
e	dog	5.0	2	no
f	cat	2.0	3	no
g	snake	4.5	1	no
h	cat	NaN	1	yes
i	dog	7.0	2	no
j	dog	3.0	1	no
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Solution
pd.DataFrame(data, index=labels)

##Problem 5.

**Problem:**
Display a summary on Python Objects contained within the given DataFrame.

**Possible Input:**
```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution:

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Solution
df.info()

##Problem 5.5.

**Problem:**
Display a summary on information contained within DataFrame given.

**Possible Input:**
```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	         age	visits
count	8.000000	10.000000
mean	3.437500	1.900000
std	2.007797	0.875595
min	0.500000	1.000000
25%	2.375000	1.000000
50%	3.000000	2.000000
75%	4.625000	2.750000
max	7.000000	3.000000
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution:

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Solution
df.describe()

##Problem 6.

**Problem:**
Return the first 3 rows of the DataFrame given.

**Possible Input:**
```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age	visits	priority
a	cat	2.5	1	yes
b	cat	3.0	3	yes
c	snake	0.5	2	no
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution A:

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Solution
df.iloc[:3]

###Solution B:

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Solution
df.head(3)

##Problem 7.

 **Problem:**
 Select just the "animal" and "age" columns from the DataFrame given.
 
 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age
a	cat	2.5
b	cat	3.0
c	snake	0.5
d	dog	NaN
e	dog	5.0
f	cat	2.0
g	snake	4.5
h	cat	NaN
i	dog	7.0
j	dog	3.0
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution A:

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Solution
df.loc[:, ['animal', 'age']]

###Solution B:

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Solution
df[['animal', 'age']]

##Problem 8.

 **Problem:**
 Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.
 
 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age
d	dog	NaN
e	dog	5.0
i	dog	7.0
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Solution
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

##Problem 9.

**Problem:**
Select only the rows where the number of visits is greater than 2.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age	visits	priority
b	cat	3.0	3	yes
d	dog	NaN	3	yes
f	cat	2.0	3	no
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df[df['visits'] > 2]

##Problem 10.

**Problem:**
Select the rows where the age is missing, i.e. is `NaN`.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age	visits	priority
d	dog	NaN	3	yes
h	cat	NaN	1	yes
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df[df['age'].isnull()]

##Problem 11.

**Problem:**
Select the rows where the animal is a cat *and* the age is less than 3.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age	visits	priority
a	cat	2.5	1	yes
f	cat	2.0	3	no
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df[(df['animal'] == 'cat') & (df['age'] < 3)]

##Problem 12.

**Problem:**
Select the rows the age is between 2 and 4 (inclusive).

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age	visits	priority
a	cat	2.5	1	yes
b	cat	3.0	3	yes
f	cat	2.0	3	no
j	dog	3.0	1	no
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df[df['age'].between(2, 4)]

##Problem 13.

**Problem:**
Change the age in row 'f' to 1.5.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age	visits	priority
a	cat	2.5	1	yes
b	cat	3.0	3	yes
c	snake	0.5	2	no
d	dog	NaN	3	yes
e	dog	5.0	2	no
f	cat	1.5	3	no
g	snake	4.5	1	no
h	cat	NaN	1	yes
i	dog	7.0	2	no
j	dog	3.0	1	no
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df.loc['f', 'age'] = 1.5
df

##Problem 14.

**Problem:**
Calculate the sum of all visits (the total number of visits).

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
19
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df['visits'].sum()

##Problem 15.

**Problem:**
Calculate the mean age for each different animal in `df`.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df.groupby('animal')['age'].mean()

##Problem 16.

**Problem:**
Append a new row 'k' to `df` with your choice of values for each column.
Then delete that row to return the original DataFrame.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
ADDED:
  animal  age visits priority
a    cat  2.5      1      yes
b    cat    3      3      yes
c  snake  0.5      2       no
d    dog  NaN      3      yes
e    dog    5      2       no
f    cat    2      3       no
g  snake  4.5      1       no
h    cat  NaN      1      yes
i    dog    7      2       no
j    dog    3      1       no
k    5.5  dog     no        2
-------------------
DELETED:
  animal  age visits priority
a    cat  2.5      1      yes
b    cat    3      3      yes
c  snake  0.5      2       no
d    dog  NaN      3      yes
e    dog    5      2       no
f    cat    2      3       no
g  snake  4.5      1       no
h    cat  NaN      1      yes
i    dog    7      2       no
j    dog    3      1       no
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df.loc['k'] = [5.5, 'dog', 'no', 2]
print("ADDED:")
print(df)
print("-------------------")
df = df.drop('k')
print("DELETED:")
print(df)

##Problem 17.

**Problem:**
Count the number of each type of animal in `df`.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
cat      4
dog      4
snake    2
Name: animal, dtype: int64
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df['animal'].value_counts()

##Problem 18.

**Problem:**
Sort `df` first by the values in the 'age' in *decending* order, then by
the value in the 'visit' column in *ascending* order.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
animal	age	visits	priority
i	dog	7.0	2	no
e	dog	5.0	2	no
g	snake	4.5	1	no
j	dog	3.0	1	no
b	cat	3.0	3	yes
a	cat	2.5	1	yes
f	cat	2.0	3	no
c	snake	0.5	2	no
h	cat	NaN	1	yes
d	dog	NaN	3	yes
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df.sort_values(by=['age', 'visits'], ascending=[False, True])

##Problem 19.

**Problem:**
The 'priority' column contains the values 'yes' and 'no'.
Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age	visits	priority
a	cat	2.5	1	True
b	cat	3.0	3	True
c	snake	0.5	2	False
d	dog	NaN	3	True
e	dog	5.0	2	False
f	cat	2.0	3	False
g	snake	4.5	1	False
h	cat	NaN	1	True
i	dog	7.0	2	False
j	dog	3.0	1	False
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df

##Problem 20.

**Problem:**
In the 'animal' column, change the 'snake' entries to 'python'.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```
	animal	age	visits	priority
a	cat	2.5	1	yes
b	cat	3.0	3	yes
c	python	0.5	2	no
d	dog	NaN	3	yes
e	dog	5.0	2	no
f	cat	2.0	3	no
g	python	4.5	1	no
h	cat	NaN	1	yes
i	dog	7.0	2	no
j	dog	3.0	1	no
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df['animal'] = df['animal'].replace('snake', 'python')
df

##Problem 21.

**Problem:**
For each animal type and each number of visits, find the mean age. 
In other words, create new table.
Each row should be an animal, each column should be a number of visits and the values should be the mean ages.
**Hint:** use a pivot table.

 **Possible Input:**
 ```python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
```

**Expected Output:**
```

visits	1	2	3
animal			
cat	2.5	NaN	2.5
dog	3.0	6.0	NaN
snake	4.5	0.5	NaN
```

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
data = {'animal'  : ['cat', 'cat', 'snake',  'dog', 'dog', 'cat', 'snake',  'cat', 'dog', 'dog'],
        'age'     : [  2.5,     3,     0.5, np.nan,     5,     2,     4.5, np.nan,     7,     3],
        'visits'  : [    1,     3,       2,      3,     2,     3,       1,      1,     2,     1],
        'priority': ['yes', 'yes',    'no',  'yes',  'no',  'no',    'no',  'yes',  'no',  'no']}
labels =            [  'a',   'b',     'c',    'd',   'e',   'f',     'g',    'h',   'i',   'j']
df = pd.DataFrame(data, index=labels)

#Solution
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

# DataFrames: beyond the basics

Slightly trickier: you may need to combine two or more methods to get the right answer.

Difficulty: **medium**

##Problem 22.

**Problem:**
Given dataframe, consider column "A" and filter out rows which contain the same integer as the row immediately above.

**Possible Input:**
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 2, 2, 2, 2, 6, 7, 7]})
```

**Expected Output:**
```
	A
0	1
1	2
3	3
4	4
5	5
8	2
12	6
13	7
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 2, 2, 2, 2, 6, 7, 7]})

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 2, 2, 2, 2, 6, 7, 7]})

# Solution
df.loc[df['A'].shift() != df['A']]

##Problem 23.

**Problem:**
Given a DataFrame of numeric values, subtract the row mean from each element in the row.

**Possible Input:**
```python
df = pd.DataFrame({'A': [  5,  -1,  -3,   9,   8],
                   'B': [  9,   9,  -1,   5,  -2],
                   'C': [ -5,  10,  -5,   9, -10]})


```

**Expected Output:**
```
      A	        B        	C
0	2.000000	6.000000	-8.000000
1	-7.000000	3.000000	4.000000
2	0.000000	2.000000	-2.000000
3	1.333333	-2.666667	1.333333
4	9.333333	-0.666667	-8.666667
```

In [0]:
import numpy as np
import pandas as ps

# Input
df = pd.DataFrame({'A': [  5,  -1,  -3,   9,   8],
                   'B': [  9,   9,  -1,   5,  -2],
                   'C': [ -5,  10,  -5,   9, -10]})

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as ps

# Input
df = pd.DataFrame({'A': [  5,  -1,  -3,   9,   8],
                   'B': [  9,   9,  -1,   5,  -2],
                   'C': [ -5,  10,  -5,   9, -10]})

# Solution
df.sub(df.mean(axis=1), axis=0)

##Problem 24.

**Problem:**
A dataframe that contains 10 columns of nubers is given.
Find label of the column containing the smallest sum.

**Possible Input:**
```python
df = pd.DataFrame({
       'a' : [  2,  -4,  -7, -10,   9],
       'b' : [  7,  -9,  -7,  -7,  -4],
       'c' : [ -8,  10,  -8,   5,  -3],
       'd' : [  3,  -8,   5,  -4, -10],
       'e' : [  9,   3,  -5,  -9,   6],
       'f' : [ -1,  -7, -10,  -8,  10],
       'g' : [  1,   8,   3,   9,   5],
       'h' : [  3,   5,   0,   1,  -3],
       'i' : [  3,   4,  -5,  -9,  -7],
       'j' : [  0,   4,  -6,   3,   9]})
```

**Expected Output**
```
'b'
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [  2,  -4,  -7, -10,   9],
       'b' : [  7,  -9,  -7,  -7,  -4],
       'c' : [ -8,  10,  -8,   5,  -3],
       'd' : [  3,  -8,   5,  -4, -10],
       'e' : [  9,   3,  -5,  -9,   6],
       'f' : [ -1,  -7, -10,  -8,  10],
       'g' : [  1,   8,   3,   9,   5],
       'h' : [  3,   5,   0,   1,  -3],
       'i' : [  3,   4,  -5,  -9,  -7],
       'j' : [  0,   4,  -6,   3,   9]})

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [  2,  -4,  -7, -10,   9],
       'b' : [  7,  -9,  -7,  -7,  -4],
       'c' : [ -8,  10,  -8,   5,  -3],
       'd' : [  3,  -8,   5,  -4, -10],
       'e' : [  9,   3,  -5,  -9,   6],
       'f' : [ -1,  -7, -10,  -8,  10],
       'g' : [  1,   8,   3,   9,   5],
       'h' : [  3,   5,   0,   1,  -3],
       'i' : [  3,   4,  -5,  -9,  -7],
       'j' : [  0,   4,  -6,   3,   9]})

# Solution
df.sum().idxmin()

##Problem 25.

**Problem:**
Count the nuber of unique rows in the given dataframe.

**Possible Input:**
```python
df = pd.DataFrame({
       'a' : [  2,  -4,   2,   2,  -4],
       'b' : [  7,  -9,   7,   7,  -9],
       'c' : [ -8,  10,  -8,  -8,  10],
       'd' : [  3,  -8,   3,   3,  -8]})


```

**Expected Output:**
```
2
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [  2,  -4,   2,   2,  -4],
       'b' : [  7,  -9,   7,   7,  -9],
       'c' : [ -8,  10,  -8,  -8,  10],
       'd' : [  3,  -8,   3,   3,  -8]})

# Enter your code here

###Solution A:

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [  2,  -4,   2,   2,  -4],
       'b' : [  7,  -9,   7,   7,  -9],
       'c' : [ -8,  10,  -8,  -8,  10],
       'd' : [  3,  -8,   3,   3,  -8]})

# Solution
len(df.drop_duplicates(keep="first"))

###Solution B:

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [  2,  -4,   2,   2,  -4],
       'b' : [  7,  -9,   7,   7,  -9],
       'c' : [ -8,  10,  -8,  -8,  10],
       'd' : [  3,  -8,   3,   3,  -8]})

# Solution
len(df) - df.duplicated(keep="first").sum()

##Problem 26.

**Problem:**
You are given a dataframe that contains numbers and nans.
For each row find the column that contains third nan.
Print as output pairs row-column with third nan.

**Possible Input:**
```python
df = pd.DataFrame({
       'a' : [np.nan,    -4,  -7,   -10,     9],
       'b' : [     7,    -9,  -7,np.nan,    -4],
       'c' : [    -8,    10,  -8,     5,    -3],
       'd' : [np.nan,np.nan,   5,    -4,np.nan],
       'e' : [     9,np.nan,  -5,    -9,np.nan],
       'f' : [np.nan,    -7, -10,    -8,np.nan],
       'g' : [np.nan,     8,   3,     9,     5],
       'h' : [np.nan,     5,   0,np.nan,    -3],
       'i' : [     3,np.nan,  -5,    -9,    -7],
       'j' : [     0,np.nan,  -6,     3,     9]})
n = 3
```

**Expected Output:**
```
0    f
1    i
4    f
dtype: object
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [np.nan,    -4,  -7,   -10,     9],
       'b' : [     7,    -9,  -7,np.nan,    -4],
       'c' : [    -8,    10,  -8,     5,    -3],
       'd' : [np.nan,np.nan,   5,    -4,np.nan],
       'e' : [     9,np.nan,  -5,    -9,np.nan],
       'f' : [np.nan,    -7, -10,    -8,np.nan],
       'g' : [np.nan,     8,   3,     9,     5],
       'h' : [np.nan,     5,   0,np.nan,    -3],
       'i' : [     3,np.nan,  -5,    -9,    -7],
       'j' : [     0,np.nan,  -6,     3,     9]})
n = 3

# Enter your code here

###Solution A:

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [np.nan,    -4,  -7,   -10,     9],
       'b' : [     7,    -9,  -7,np.nan,    -4],
       'c' : [    -8,    10,  -8,     5,    -3],
       'd' : [np.nan,np.nan,   5,    -4,np.nan],
       'e' : [     9,np.nan,  -5,    -9,np.nan],
       'f' : [np.nan,    -7, -10,    -8,np.nan],
       'g' : [np.nan,     8,   3,     9,     5],
       'h' : [np.nan,     5,   0,np.nan,    -3],
       'i' : [     3,np.nan,  -5,    -9,    -7],
       'j' : [     0,np.nan,  -6,     3,     9]})
n = 3

# Solution
(df[df.isnull().sum(axis=1) >= n].isnull().cumsum(axis=1) == n).idxmax(axis=1, skipna=True)

###Solution B:

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [np.nan,    -4,  -7,   -10,     9],
       'b' : [     7,    -9,  -7,np.nan,    -4],
       'c' : [    -8,    10,  -8,     5,    -3],
       'd' : [np.nan,np.nan,   5,    -4,np.nan],
       'e' : [     9,np.nan,  -5,    -9,np.nan],
       'f' : [np.nan,    -7, -10,    -8,np.nan],
       'g' : [np.nan,     8,   3,     9,     5],
       'h' : [np.nan,     5,   0,np.nan,    -3],
       'i' : [     3,np.nan,  -5,    -9,    -7],
       'j' : [     0,np.nan,  -6,     3,     9]})
n = 3

# Solution
temp = df.isnull()
temp = temp[temp.sum(axis=1) >= n]
(temp.cumsum(axis=1) == n).idxmax(axis=1, skipna=True)

##Problem 27.

**Problem:**
A DataFrame has a column "groups" and a column "values" that contains numbers.
For each group, find the sum of the three greatest values.

**Possible Input:**
```python
df = pd.DataFrame({'groups': list('aaabbcaabcccbbc'), 
                   'values': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```

**Expected Output:**
```
groups
a    409
b    156
c    345
Name: values, dtype: int64
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'groups': list('aaabbcaabcccbbc'), 
                   'values': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'groups': list('aaabbcaabcccbbc'), 
                   'values': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# Solution
df.groupby('groups')['values'].nlargest(3).sum(level=0)

##Problem 28.

**Problem:**
A DataFrame has two integer columns 'A' and 'B'.
The values in 'A' are between 1 and 100 (inclusive).
For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values
in column 'B'.

**Possible Input:**
```python
df = pd.DataFrame({'A': np.arange(1, 101),
                   'B': [2.0**(-n) for n in range(1, 101)]})
```

**Expected Output:**
```
A
(0, 10]      9.990234e-01
(10, 20]     9.756088e-04
(20, 30]     9.527430e-07
(30, 40]     9.304131e-10
(40, 50]     9.086065e-13
(50, 60]     8.873111e-16
(60, 70]     8.665147e-19
(70, 80]     8.462058e-22
(80, 90]     8.263728e-25
(90, 100]    8.070047e-28
Name: B, dtype: float64
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'A': np.arange(1, 101),
                   'B': [2.0**(-n) for n in range(1, 101)]})

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'A': np.arange(1, 101),
                   'B': [2.0**(-n) for n in range(1, 101)]})

# Solution
df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

# DataFrames: harder problems 

These might require a bit of thinking outside the box...

...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit `for` loops).

Difficulty: **hard**

##Problem 29.

**Problem:**
Consider a DataFrame df containing an integer column X.
Create new column Y containing distance (in rows) to the closest previous zero value in X.
If all previous values in column X are nonzero -- set entry in Y equal to the distance to the beginning of the array.

**Possible Input:**
```python
f = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```

**Expected Output:**
```
	X	Y
0	7	1
1	2	2
2	0	0
3	3	1
4	4	2
5	2	3
6	5	4
7	0	0
8	3	1
9	4	2
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

# Enter your code here

###Solution A:

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

# Solution
izero = np.r_[-1, (df['X'] == 0).to_numpy().nonzero()[0]] # indices of zeros
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

###Solution B:

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

# Solution
izero = np.r_[-1, (df['X'] == 0).to_numpy().nonzero()[0]] # indices of zeros
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

###Solution C:

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

# Solution
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum().astype('int')
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

###Solution D:

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

# Solution
df['Y'] = df.groupby((df['X'] == 0).cumsum()).cumcount()
# We're off by one before we reach the first zero.
first_zero_idx = (df['X'] == 0).idxmax()
df['Y'].iloc[0:first_zero_idx] += 1
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

##Problem 30.

**Problem:**
Consider a DataFrame containing rows and columns of purely numerical data. 
Create a list of the row-column index locations of the 3 largest values.

**Possible Input:**
```python
df = pd.DataFrame({
       'a' : [  2,  -4,  -7, -10,   9],
       'b' : [  7,  -9,  -7,  -7,  -4],
       'c' : [ -8,  10,  -8,   5,  -3],
       'd' : [  3,  -8,   5,  -4, -10],
       'e' : [  9,   3,  -5,  -9,   6],
       'f' : [ -1,  -7, -10,  -8,  10],
       'g' : [  1,   8,   3,   9,   5],
       'h' : [  3,   5,   0,   1,  -3],
       'i' : [  3,   4,  -5,  -9,  -7],
       'j' : [  0,   4,  -6,   3,   9]})
```

**Expected Output:**
```
[('j', 4), ('f', 4), ('c', 1)]
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [  2,  -4,  -7, -10,   9],
       'b' : [  7,  -9,  -7,  -7,  -4],
       'c' : [ -8,  10,  -8,   5,  -3],
       'd' : [  3,  -8,   5,  -4, -10],
       'e' : [  9,   3,  -5,  -9,   6],
       'f' : [ -1,  -7, -10,  -8,  10],
       'g' : [  1,   8,   3,   9,   5],
       'h' : [  3,   5,   0,   1,  -3],
       'i' : [  3,   4,  -5,  -9,  -7],
       'j' : [  0,   4,  -6,   3,   9]})

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({
       'a' : [  2,  -4,  -7, -10,   9],
       'b' : [  7,  -9,  -7,  -7,  -4],
       'c' : [ -8,  10,  -8,   5,  -3],
       'd' : [  3,  -8,   5,  -4, -10],
       'e' : [  9,   3,  -5,  -9,   6],
       'f' : [ -1,  -7, -10,  -8,  10],
       'g' : [  1,   8,   3,   9,   5],
       'h' : [  3,   5,   0,   1,  -3],
       'i' : [  3,   4,  -5,  -9,  -7],
       'j' : [  0,   4,  -6,   3,   9]})

# Solution
df.unstack().sort_values()[-3:].index.tolist()

[('j', 4), ('f', 4), ('c', 1)]

##Problem 31.

**Problem:**
Given a DataFrame with a column "groups" and a column  "values", replace any negative entry in "values" column with the group mean over positive values.

**Possible Input:**
```python
df = pd.DataFrame({'groups': list('aaabbcaabcccbbc'), 
                   'values': [12, -35, -3, 1, -45, 14, 4, 52, 54, -23, 235, 21, 57, -3, 87]})
```

**Expected Output:**
```
	groups	values
0	a	12.000000
1	a	22.666667
2	a	22.666667
3	b	1.000000
4	b	37.333333
5	c	14.000000
6	a	4.000000
7	a	52.000000
8	b	54.000000
9	c	89.250000
10	c	235.000000
11	c	21.000000
12	b	57.000000
13	b	37.333333
14	c	87.000000
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'groups': list('aaabbcaabcccbbc'), 
                   'values': [12, -35, -3, 1, -45, 14, 4, 52, 54, -23, 235, 21, 57, -3, 87]})

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'groups': list('aaabbcaabcccbbc'), 
                   'values': [12, -35, -3, 1, -45, 14, 4, 52, 54, -23, 235, 21, 57, -3, 87]})

# Solution
def replace(grp):
    grp[grp < 0] = grp[grp >= 0].mean()
    return grp

df['values'] = df.groupby(['groups'])['values'].transform(replace)
df

   groups      values
0       a   12.000000
1       a   22.666667
2       a   22.666667
3       b    1.000000
4       b   37.333333
5       c   14.000000
6       a    4.000000
7       a   52.000000
8       b   54.000000
9       c   89.250000
10      c  235.000000
11      c   21.000000
12      b   57.000000
13      b   37.333333
14      c   87.000000

##Problem 32.

**Problem:**
Implement a rolling mean over groups with window size 3, which ignores NaN value.

**Possible Input:**
```python
df = pd.DataFrame({'group': list('aabbabbbabab'),
                   'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
```

**Expected Output:**
```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
Name: value, dtype: float64
```

**Note:**
For better understanding consider the action of the rolling mean function on one group, say "b".
The following table demonstrates expected result.
```
   group	value	rol_mean
2	b	3.0	3.0
3	b	NaN	3.0
5	b	3.0	3.0
6	b	NaN	3.0
7	b	1.0	2.0
9	b	3.0	2.0
11	b	8.0	4.0
```

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'group': list('aabbabbbabab'),
                   'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Input
df = pd.DataFrame({'group': list('aabbabbbabab'),
                   'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})

# Solution
g1 = df.groupby(['group'])['value']
g2 = df.fillna(0).groupby(['group'])['value']
s = g2.rolling(3, min_periods=1).sum() / g1.rolling(3, min_periods=1).count()
s.reset_index(level=0, drop=True).sort_index()

0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
Name: value, dtype: float64

# Series and DatetimeIndex

Exercises for creating and manipulating Series with datetime data

Difficulty: **easy/medium**

##Problem 33.

**Problem:**
Create a DatetimeIndex that contains each business day between '2019-06-01' and '2019-07-01'.
Use it to index a Series of of consequtive numbers starting at 1 (i.e. enumerate each business day).

**Expected Output:**
```
2019-06-03     1
2019-06-04     2
2019-06-05     3
2019-06-06     4
2019-06-07     5
2019-06-10     6
2019-06-11     7
2019-06-12     8
2019-06-13     9
2019-06-14    10
2019-06-17    11
2019-06-18    12
2019-06-19    13
2019-06-20    14
2019-06-21    15
2019-06-24    16
2019-06-25    17
2019-06-26    18
2019-06-27    19
2019-06-28    20
2019-07-01    21
Freq: B, dtype: int64
```

In [0]:
import numpy as np
import pandas as pd

# Enter your code here

###Solution

In [0]:
import numpy as np
import pandas as pd

# Solution
dti = pd.date_range(start='2019-06-01', end='2019-07-01', freq='B') 
pd.Series(1 + np.arange(len(dti)), index=dti)

2019-06-03     1
2019-06-04     2
2019-06-05     3
2019-06-06     4
2019-06-07     5
2019-06-10     6
2019-06-11     7
2019-06-12     8
2019-06-13     9
2019-06-14    10
2019-06-17    11
2019-06-18    12
2019-06-19    13
2019-06-20    14
2019-06-21    15
2019-06-24    16
2019-06-25    17
2019-06-26    18
2019-06-27    19
2019-06-28    20
2019-07-01    21
Freq: B, dtype: int64

##Problem 34.

**Problem:**
 Find the sum of the values in the given Series for every Wednesday.
 
 **Possible Input:**
 ```python
dti = pd.date_range(start='2019-06-01', end='2019-07-01', freq='B') 
s   = pd.Series([0, 4, 8, 9, 9, 5, 1, -3, -7, -9, -9, -7, -2, 2, 6, 9, 9, 7, 4, 0, -5], index=dti)

```

**Expected Output:**
```
10
```

In [0]:
import numpy as np
import pandas as pd

# Input
dti = pd.date_range(start='2019-06-01', end='2019-07-01', freq='B') 
s   = pd.Series([0, 4, 8, 9, 9, 5, 1, -3, -7, -9, -9, -7, -2, 2, 6, 9, 9, 7, 4, 0, -5], index=dti)

# Enter your code here

###Solution

In [18]:
import numpy as np
import pandas as pd

# Input
dti = pd.date_range(start='2019-06-01', end='2019-07-01', freq='B') 
s = pd.Series([0, 4, 8, 9, 9, 5, 1, -3, -7, -9, -9, -7, -2, 2, 6, 9, 9, 7, 4, 0, -5], index=dti)

# Solution
s[s.index.weekday == 2].sum()

10

##Problem 35.

 For each calendar month in `s`, find the mean of values.

In [0]:
# Enter your code here

###Solution

In [0]:
s.resample('M').mean()

##Problem 36.

 For each group of four consecutive calendar months in `s`, find the date
on which the highest value occurred.

In [0]:
# Enter your code here

###Solution

In [0]:
s.groupby(pd.TimeGrouper('4M')).idxmax()

##Problem 37.

 Create a DateTimeIndex consisting of the third Thursday in each month
for the years 2015 and 2016.

In [0]:
# Enter your code here

###Solution

In [0]:
pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU')

# Cleaning Data

 Making a DataFrame easier to work with

Difficulty:
*easy/medium*

It happens all the time: someone gives you data containing
malformed strings, Python, lists and missing data. How do you tidy it up so you
can get on with the analysis?

Take this monstrosity as the DataFrame to use in
the following puzzles:

In [0]:
# Enter your code here

###Solution

In [0]:
df = pd.DataFrame({'From_To': ['LoNDon_paris',
'MAdrid_miLAN', 'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045,
np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24,
43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France>
(12)', '(British Airways. )', 
                               '12. Air France',
'"Swiss Air"']})

(It's some flight data I made up; it's not meant to be
accurate in any way.)

##Problem 38.

 Some values in the the FlightNumber column are missing. These numbers
are meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).

In [0]:
# Enter your code here

###Solution

In [0]:
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)

##Problem 39.

 The From\_To column would be better as two separate columns! Split each
string on the underscore delimiter `_` to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary DataFrame.

In [0]:
# Enter your code here

###Solution

In [0]:
temp = df.From_To.str.split('_', expand=True)
temp.columns = ['From', 'To']

##Problem 40.

 Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)

In [0]:
# Enter your code here

###Solution

In [0]:
temp['From'] = temp['From'].str.capitalize()
temp['To'] = temp['To'].str.capitalize()

##Problem 41.

 Delete the From_To column from `df` and attach the temporary DataFrame
from the previous questions.

In [0]:
# Enter your code here

###Solution

In [0]:
df = df.drop('From_To', axis=1)
df = df.join(temp)

##Problem 42

. In the Airline column, you can see some extra puctuation and symbols
have appeared around the airline names. Pull out just the airline name. E.g.
`'(British Airways. )'` should become `'British Airways'`.

In [0]:
# Enter your code here

###Solution

In [0]:
df['Airline'] = df['Airline'].str.extract('([a-zA-Z\s]+)', expand=False).str.strip()
# note: using .strip() gets rid of any leading/trailing spaces

##Problem 43

. In the RecentDelays column, the values have been entered into the
DataFrame as a list. We would like each first value in its own column, each
second value in its own column, and so on. If there isn't an Nth value, the
value should be NaN.

Expand the Series of lists into a DataFrame named
`delays`, rename the columns `delay_1`, `delay_2`, etc. and replace the unwanted
RecentDelays column in `df` with `delays`.

In [0]:
# Enter your code here

###Solution

In [0]:
# there are several ways to do this, but the following approach is possibly the simplest

delays = df['RecentDelays'].apply(pd.Series)

delays.columns = ['delay_{}'.format(n) for n in range(1, len(delays.columns)+1)]

df = df.drop('RecentDelays', axis=1).join(delays)

The DataFrame should look much better now.

# Using MultiIndexes

 Go beyond flat DataFrames with additional index
levels

Difficulty: *medium*

Previous exercises have seen us analysing data
from DataFrames equipped with a single index level. However, pandas also gives
you the possibilty of indexing your data using *multiple* levels. This is very
much like adding new dimensions to a Series or a DataFrame. For example, a
Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same
functionality as a 2D DataFrame.

The set of puzzles below explores how you
might use multiple index levels to enhance data analysis.

To warm up, we'll
look make a Series with two index levels.

##Problem 44

. Given the lists `letters = ['A', 'B', 'C']` and `numbers =
list(range(10))`, construct a MultiIndex object from the product of the two
lists. Use it to index a Series of random numbers. Call this Series `s`.

In [0]:
# Enter your code here

###Solution

In [0]:
letters = ['A', 'B', 'C']
numbers = list(range(10))

mi = pd.MultiIndex.from_product([letters, numbers])
s = pd.Series(np.random.rand(30), index=mi)

##Problem 45.

 Check the index of `s` is lexicographically sorted (this is a necessary
proprty for indexing to work correctly with a MultiIndex).

In [0]:
# Enter your code here

###Solution

In [0]:
s.index.is_lexsorted()

# or more verbosely...
s.index.lexsort_depth == s.index.nlevels

##Problem 46

. Select the labels `1`, `3` and `6` from the second level of the
MultiIndexed Series.

In [0]:
# Enter your code here

###Solution

In [0]:
s.loc[:, [1, 3, 6]]

##Problem 47

. Slice the Series `s`; slice up to label 'B' for the first level and from
label 5 onwards for the second level.

In [0]:
# Enter your code here

###Solution

In [0]:
s.loc[pd.IndexSlice[:'B', 5:]]

# or equivalently without IndexSlice...
s.loc[slice(None, 'B'), slice(5, None)]

##Problem 48

. Sum the values in `s` for each label in the first level (you should have
Series giving you a total for labels A, B and C).

In [0]:
# Enter your code here

###Solution

In [0]:
s.sum(level=0)

##Problem 49

. Suppose that `sum()` (and other methods) did not accept a `level`
keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

In [0]:
# Enter your code here

###Solution

In [0]:
# One way is to use .unstack()... 
# This method should convince you that s is essentially 
# just a regular DataFrame in disguise!
s.unstack().sum(axis=0)

##Problem 50

. Exchange the levels of the MultiIndex so we have an index of the form
(letters, numbers). Is this new Series properly lexsorted? If not, sort it.

In [0]:
# Enter your code here

###Solution

In [0]:
new_s = s.swaplevel(0, 1)

# check
new_s.index.is_lexsorted()

# sort
new_s = new_s.sort_index()

# Minesweeper

 Generate the numbers for safe squares in a Minesweeper grid
Difficulty: *medium* to *hard*

If you've ever used an older version of Windows,
there's a good chance you've played with
[Minesweeper](https://en.wikipedia.org/wiki/Minesweeper_(video_game). If you're
not familiar with the game, imagine a grid of squares: some of these squares
conceal a mine. If you click on a mine, you lose instantly. If you click on a
safe square, you reveal a number telling you how many mines are found in the
squares that are immediately adjacent. The aim of the game is to uncover all
squares in the grid that do not contain a mine.

In this section, we'll make a
DataFrame that contains the necessary data for a game of Minesweeper:
coordinates of the squares, whether the square contains a mine and the number of
mines found on adjacent squares.

##Problem 51

. Let's suppose we're playing Minesweeper on a 5 by 4 grid, i.e.

In [0]:
X = 5
Y = 4

To begin, generate a DataFrame `df` with two columns, `'x'` and `'y'`
containing every coordinate for this grid. That is, the DataFrame should start:

In [0]:
   x  y
0  0  0
1  0  1
2  0  2

In [0]:
# Enter your code here

###Solution

In [0]:
p = pd.tools.util.cartesian_product([np.arange(X), np.arange(Y)])
df = pd.DataFrame(np.asarray(p).T, columns=['x', 'y'])

##Problem 52

. For this DataFrame `df`, create a new column of zeros (safe) and ones
(mine). The probability of a mine occuring at each location should be 0.4.

In [0]:
# Enter your code here

###Solution

In [0]:
# One way is to draw samples from a binomial distribution.

df['mine'] = np.random.binomial(1, 0.4, X*Y)

##Problem 53

. Now create a new column for this DataFrame called `'adjacent'`. This
column should contain the number of mines found on adjacent squares in the grid.
(E.g. for the first row, which is the entry for the coordinate `(0, 0)`, count
how many mines are found on the coordinates `(0, 1)`, `(1, 0)` and `(1, 1)`.)

In [0]:
# Enter your code here

###Solution

In [0]:
# Here is one way to solve using merges.
# It's not necessary the optimal way, just 
# the solution I thought of first...

df['adjacent'] = \
    df.merge(df + [ 1,  1, 0], on=['x', 'y'], how='left')\
      .merge(df + [ 1, -1, 0], on=['x', 'y'], how='left')\
      .merge(df + [-1,  1, 0], on=['x', 'y'], how='left')\
      .merge(df + [-1, -1, 0], on=['x', 'y'], how='left')\
      .merge(df + [ 1,  0, 0], on=['x', 'y'], how='left')\
      .merge(df + [-1,  0, 0], on=['x', 'y'], how='left')\
      .merge(df + [ 0,  1, 0], on=['x', 'y'], how='left')\
      .merge(df + [ 0, -1, 0], on=['x', 'y'], how='left')\
       .iloc[:, 3:]\
        .sum(axis=1)
        
# An alternative solution is to pivot the DataFrame 
# to form the "actual" grid of mines and use convolution.
# See https://github.com/jakevdp/matplotlib_pydata2013/blob/master/examples/minesweeper.py

from scipy.signal import convolve2d

mine_grid = df.pivot_table(columns='x', index='y', values='mine')
counts = convolve2d(mine_grid.astype(complex), np.ones((3, 3)), mode='same').real.astype(int)
df['adjacent'] = (counts - mine_grid).ravel('F')

##Problem 54

. For rows of the DataFrame that contain a mine, set the value in the
`'adjacent'` column to NaN.

In [0]:
# Enter your code here

###Solution

In [0]:
df.loc[df['mine'] == 1, 'adjacent'] = np.nan

##Problem 55

. Finally, convert the DataFrame to grid of the adjacent mine counts:
columns are the `x` coordinate, rows are the `y` coordinate.

In [0]:
# Enter your code here

###Solution

In [0]:
df.drop('mine', axis=1)\
  .set_index(['y', 'x']).unstack()